*
!.gitignore
!.obsidian/
!.obsidian/*
!.obsidian/plugins/*/
!.obsidian/plugins/*/data.json
!LICENSE
!README.md
!Xtras/
!Xtras/Status/
!Xtras/Status/*
!Xtras/Template/
!Xtras/Template/*
!Xtras/Vault.md
.obsidian/core-plugins-migration.json
.obsidian/workspace.json