*
!.gitignore
!.obsidian/
!.obsidian/*
!.obsidian/plugins/*/
!.obsidian/plugins/*/data.json
!.obsidian/snippets
!.obsidian/snippets/*
!LICENSE
!README.md
!Xtra/
!Xtra/Status/
!Xtra/Status/*
!Xtra/Shortcut/
!Xtra/Shortcut/*
!Xtra/Template/
!Xtra/Template/*
!Xtra/View/
!Xtra/View/*
!Xtra/Vault.md
.obsidian/appearance.json
.obsidian/core-plugins-migration.json
.obsidian/workspace.json