*
!.gitignore
!.obsidian/
!.obsidian/*
!.obsidian/plugins/*/
!.obsidian/plugins/*/data.json
!.obsidian/plugins/obsidian-sortable/*
!.obsidian/snippets
!.obsidian/snippets/*
!LICENSE.md
!README.md
!Xtra/
!Xtra/Required Plugins.md
!Xtra/Status/
!Xtra/Status/*
!Xtra/Template/
!Xtra/Template/*
!Xtra/View/
!Xtra/View/*
.obsidian/appearance.json
.obsidian/core-plugins-migration.json
.obsidian/icons/lud_send_horizontal.svg
.obsidian/workspace.json