.is-unresolved, .cm-hmd-internal-link:has(.is-unresolved), .is-unresolved .cm-underline {
    pointer-events: none !important;
    text-decoration: none !important;
    color: var(--color-red) !important;
    opacity: .95 !important;
}